body {
    padding: 0px;
    background-color: #1d1d1e;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.topText {
    color: #dcdde2;
    padding-top: 20px;
    font-size: 60px;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.topText:hover {
    color: white;
}

.clipboardLinkButton {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    border: #dcdde2 solid 3px;
    position: absolute;
    padding: 4px;
    transition: .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate(-50%, -50%);
}
.clipboardLinkButton:hover {
    width: 160px;
    height: 160px;
}
.clipboardLinkButton:active {
    width: 120px;
    height: 120px;
}
.linkButton {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: transparent solid 0px;
    padding: 90px;
}

.seperateLine {
    padding: 40px;
}
.seperateLineBorder {
    border: #dcdde2 solid 2px;
}

.bigText {
    color: #dcdde2;
    font-size: 50px;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.bigText:hover {
    color: white;
}

.normalText {
    color: #dcdde2;
    font-size: 25px;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.normalText:hover {
    color: white;
}

.urlButton {
    color: greenyellow;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    font-size: 25px;
}
.urlButton:hover {
    color: rgb(228, 255, 187);
}

.rightIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(0%, -25%);
    border-radius: 10px;
    border: #dcdde2 solid 2px;
    transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 0;
}
.rightIcon:hover {
    width: 80px;
    height: 80px;
    z-index: 2;
    border-radius: 20px;
}